
@media only screen and (min-width:768px) and (max-width:1024)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 700px;
          height: 30px;
          font-size: 10px;
      }

}


@media only screen and (min-width:1200px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 1150px;
          height: 30px;
          font-size: 10px;
      }

}



@media only screen and (min-width:1024px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 700px;
          height: 30px;
          font-size: 10px;
      }

}




@media only screen and (max-width: 480px )and(min-width:412px) {
    body {
      background-color: red;
    }
    *{
        margin: 5px;
    }
    input,button{
        width: 400px;
        height: 30px;
        font-size: 10px;
    }


  }


  @media only screen and (min-width: 480px) and(max-width:768px) {
*{
    margin: 5px;
}
input,button{
    width: 480px;
    height: 30px;
    font-size: larger;
}

  }

  @media only screen and (max-width: 411px) {
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 350px;
          height: 30px;
          font-size: 10px;
      }

  }


  @media only screen and (max-width: 414px) {
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 350px;
          height: 30px;
          font-size: 10px;
      }


  }


  @media only screen and (width: 768px) {
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 650px;
          height: 50px;
          font-size: 30px;
      }


  }



  @media only screen and (width: 1024px) {
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 900px;
          height: 70px;
          font-size: 40px;
      }


  }



  @media only screen and (width: 540px) {
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 400px;
          height: 40px;
          font-size: 20px;
      }


  }

  @media only screen and (min-width: 420px)and (max-width:600px) {

    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 400px;
          height: 40px;
          font-size: 20px;
      }


  }
  @media only screen and (min-width: 600px)and (max-width:800px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 550px;
          height: 40px;
          font-size: 20px;
      }



}



@media only screen and (min-width: 800px)and (max-width:1000px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 550px;
          height: 40px;
          font-size: 20px;
      }



}
@media only screen and (min-width: 1000px)and (max-width:1200px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 950px;
          height: 40px;
          font-size: 20px;
      }



}



@media only screen and (min-width: 150px)and (max-width:200px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 125px;
          height: 20px;
          font-size: 7px;
      }



}



@media only screen and  (max-width:150px)
{
    body {
        background-color: red;
      }
      *{
          margin: 5px;
      }
      input,button{
          width: 50px;
          height: 10px;
          font-size: 5px;
      }



}
